

<html lang="en">
    <body>
        <h1>User</h1>
          <h2>User ID: <%= user._id %></h2>
          <h2>Name: <%= user.name %></h2>
          <p>Code: <%= user.code %></p>
       <%- include("./components/footer.ejs") %>
    </body>
 </html>